*{
 background-color: black;
 color: white;
}
.barrita h2{
color: #cc0b36;
}
.contenedor h2{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem ;
	text-transform: uppercase;
	color: #cc0b36;
}

.carousel .carousel-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: transparent;
	
}

.carousel .carousel-item img{
border-radius: 25px;
		
}
.ima img{
 width: 100%;
}
.categorias{
	display: flex;
	justify-content: center;
}
.categorias a{
	color: white;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

.ventana{
	background-color: blue;
	width: 80%;
	height: 80%;
	color: white;
	border-radius: 22px;
	position: absolute;
	left: 10% ;
	display: none;
}
.cerrar img{
	position: absolute;
	right: 30px;
}